{% extends "base.html" %}

{% block content %}
  <h1> Model: {{ car.model }}</h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  <h4>Drivers
    <span style="float: right">
      {% if request.user.is_authenticated %}
        {% if request.user in car.drivers.all %}
          <a href="{% url 'taxi:remove-driver' pk=car.id %}" class="btn btn-danger">
            Delete me from this car
          </a>
        {% else %}
          <a href="{% url 'taxi:assign-driver' pk=car.id %}" class="btn btn-success">
            Assign me to this car
          </a>
        {% endif %}
      {% endif %}
    </span>
  </h4>
  <ul class="no-bullets" style="list-style-type: none; padding:0">
    {% for driver in car.drivers.all %}
      <hr>
      <li><strong>Username: </strong>{{ driver.username }}</li>
      <li><strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}</li>
      <li><strong>License number: </strong>{{ driver.license_number }}</li>
    {% endfor %}
  </ul>
  <span style="float: left">
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </span>
{% endblock %}
